.project__meta {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid $border-project;
  border-bottom: 1px solid $border-project;
  border-left: 1px solid $border-project;
}
.project {
  position: relative;
  overflow: hidden;
}
.project__description {
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;

  @include font(null, 18px, 1.56, null);

  color: $white-color;

  .portfolio__link:hover & {
    opacity: 1;
  }
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  background: $bg-overlay;

  .portfolio__link:hover & {
    opacity: 1;
    transform: translateY(0%);
  }
}

.project__title {
  margin-bottom: 4px;

  @include font(null, 18px, 2, 0.06em);
  color: $title-text-color;
}
.project__text {
  @include font(null, 16px, 1.87, null);
  color: $primary-text-color;
}
